@charset "utf-8";
/* base.css */

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #121212;
}
ul, ol{
    list-style: none;
}
a{
    text-decoration: none;
}
img, input, button{
    vertical-align: top;
}